﻿@page "/lobbies"
@inherits Logic.Lobbies
    <button class="btn btn-primary" type="button" style="right:0;position:absolute;" onclick="@OnExitButonClicked">Выйти</button>
<div>
    <input type="text" placeholder="Название комнаты" bind="@NewRoomName" />
    <button class="btn btn-primary" type="button" onclick="@OnNewRoomButtonClicked">Создать</button>
</div>
<div class="d-flex flex-row justify-content-between" style="padding-right:100px;padding-top:200px;">
    <div style="width:578px;">
        <div class="table-responsive table-bordered">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    @foreach (var lobby in lobbies)
                    {
                    <tr>
                        <td>@lobby.Name @(lobby.Player1?.NickName) vs @(lobby.Player2?.NickName)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <p>Информация</p>
</div>