﻿@page "/"
@inherits Logic.Register
<div class="login-clean">
    <form method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration">
            <h1>Шашки</h1>
        </div>
        <div class="form-group"><input type="text" name="nickname" placeholder="Никнейм" class="form-control" bind="@NickName"/></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="button" onclick="@OnEnterButtonClicked">Войти</button></div>
    </form>
</div>
